# Change paramentres below to appropriate values and set CONFIGURED to yes.
CONFIGURED=yes

# Default timeout until child process is killed during server upgrade,
# it has *no* relation to option "timeout" in server's config.rb.
TIMEOUT=60

# Path to your web application, sh'ld be also set in server's config.rb,
# option "working_directory". Rack's config.ru is located here.
APP_ROOT=/var/www/<PROJECT_NAME>/current

# Server's config.rb, it's not a rack's config.ru
CONFIG_RB="$APP_ROOT/config/unicorn.rb"

# Where to store PID, sh'ld be also set in server's config.rb, option "pid".
PID="/var/www/<PROJECT_NAME>/shared/pids/unicorn.pid"

# Additional arguments passed to unicorn, see man (1) unicorn.
UNICORN_OPTS="-D -c $CONFIG_RB -E staging"
