# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cf085e2049fbffb035e8cda01236a07790066e9dd1864fc74f4a17ccf47cb2f14caf01aad192c74427652d78447b90b1e3ef878807d5d149116e1bf659746f57

test:
  secret_key_base: 504bdcba14a07c2125a1dccfbfa90658e1d9c03721b754c68dcb0f7c0a2b660df7ffb135b44d17b3cb9be362ae042ba609e41e9d8800350f3f47f4b61af26ce3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
